@charset "utf-8";

body {
  font-family: Meiryo, 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

.title {
  position: relative;
}

.title .delete {
  position: absolute;
  right: 20px;
  top: 3px;
}

.preview-content {
  margin-top: 40px;
}