@charset "utf-8";

body {
  font-family: Meiryo, 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

.article {
  position: relative;
}

.article .delete {
  position: absolute;
  right: 20px;
  bottom: 17px;
}

.preview-content {
  margin-top: 40px;
}

.editable-item .edit {
  display: none;
}

.editable-item .view {
  cursor: pointer;
}

#comments .comment {
  min-height: 64px;
}

.article {
  margin-bottom: 40px;
}
.article-title {
  font-size: 34px;
}

.content {
  background: white;
  padding: 20px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}